p {
  text-align: justify;
}

h3 {
  color: #357876;
}

#TOC {
  margin: 2em 0 0.5em 0;
  bottom: 0.5em;
  text-align: left;
}

#TOC a:hover{
  background-color: #357876; 
}

.main-container {
    margin-left: 200px;
}
